/*
#a55502 - рыже-коричневый
#f8f8f8 - грязно-белый
#89a6aa - серо-синий
#1f323c - тёмно-синий
#302c23 - почти черный
*/

#bag_box {
	position: absolute;
	top: 80px;
	padding-left: 20px;
	color: #1f323c;
}

.bagpage_book {
    font-size: 20px;
}

.bagpage_bookname:hover {
    color: #89a6aa;
}

.bagpage_books {
    text-decoration: none;
    padding-left: 20px;
    font-size: 22px;
}

.bagpage_books:link {
    color: #1f323c;
}

.bagpage_books:visited {
    color: #1f323c;
}

.bagpage_delbook {
    cursor: pointer;
    width: 23px;
    height: 23px;
}

.bagpage_price {
    padding-left: 20px;
    font-size: 25px;
}

.bagpage_rubles1 {
    width: 20px;
    height: 20px;
}

#bagpage_sum {
    font-size: 40px;
}

.bagpage_rubles2 {
    width: 40px;
    height: 40px;
}

#bagpage_bonus {
    font-size: 22px;
}

#bying_bonus {
    font-size: 20px;
}

#bying_bonus:hover {
	cursor: pointer;
	color: #89a6aa;
}

#bying_bonus_number {
    font-size: 20px;
    margin-left: 20px;
    padding-left: 10px;
    width: 200px;
	text-align: center;
	height: 25px;
	border-radius: 4px;
	border: 1px #1f323c solid;
	background-color: #f8f8f8;
	outline: none;
}

#bying_bonus_avaliable {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}

#bying_code_use {
    font-size: 20px;
}

#bying_code_use:hover {
	cursor: pointer;
	color: #89a6aa;
}

#bying_code {
    font-size: 20px;
    margin-left: 20px;
    padding-left: 5px;
    width: 220px;
	text-align: center;
	height: 25px;
	border-radius: 4px;
	border: 1px #1f323c solid;
	background-color: #f8f8f8;
	outline: none;
}

#bying_button {
	font-size: 23px;
    color: #1f323c;
    background-color: #dbdbdb;
	border-radius: 4px;
	width: 230px;
	height: 40px;
	outline: none;
	text-decoration: none;
}

#bying_button:link {
	text-decoration: none;
}

#bying_button:visited {
	text-decoration: none;
}

#bying_button:hover {
	cursor: pointer;
}