/*
#a55502 - рыже-коричневый
#f8f8f8 - грязно-белый
#89a6aa - серо-синий
#1f323c - тёмно-синий
#302c23 - почти черный
*/

#text {
    position: absolute;
    top: 90px;
    color: #1f323c;
    font-size: 18px;
}